<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'shared/markdown_helper', locals: {model: f} %>

  <div class="form-group">
    <label>Tags</label>
    <input type="hidden" class='form-control' id='tags' name="question[tag_list]" value="<%= @question.tag_list %>" />
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
$('#tags').select2({
    multiple: true,
    minimumInputLength: 1,
    width: '100%',
    id: function(tag){
      console.log('id', tag);
			return tag.name;
		},
    ajax: {
        url: "<%= url_for search_tags_path %>",
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
            return {
                s: term
            };
        },
        results: function (data, page) {
            console.log(data, page);
            return { results: data };
        },
        cache: false
    },
    initSelection: function(element, callback) {
      var data = [];
      if ($(element).val() !== "") {
        var tags = $(element).val().split(',');
        for (var i=0; i < tags.length; i++) {
          data.push({
            name: tags[i].trim()
          });
        }
      }
      callback(data);
    },
    formatResult: function (tag, container) { return '<div>' + tag.name + '</div>'; },
		formatSelection: function (tag) { console.log('sel', tag);return tag.name; },
    dropdownCssClass: "bigdrop",
    escapeMarkup: function (m) { return m; }
});
</script>
