<div class="question-list-container">
  <div class="question-list-container__controls">
    <form method="GET">
      <input type="hidden" name="order" value="<%= @order %>" />
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="s" value="<%= @search_query %>">
        <span class="input-group-btn">
          <button class="btn btn-default js-test-search" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>

    <%= link_to 'New Question', new_question_path, class: "btn btn-primary" %>

    <%= render 'shared/sorting_controls' %>
  </div>

  <div class="question-list">
    <% @questions.each do |question| %>
      <%= render partial: 'questions/show', locals: {question: question} %>
    <% end %>
  </div>

  <div class="text-center">
    <%= paginate @questions %>
  </div>
</div>
