<% obj.comments.each do |comment| %>
  <div class="comment-list__item">
    <div class="comment-list__item__avatar">
      <span data-toggle="tooltip" data-placement="left" data-html="true" title="<%= comment.user.name %><br/><%= time_ago_in_words(comment.created_at) %> ago">
        <%= gravatar_tag obj.user.email, :size => 25 %>
      </span>
    </div>
    <div class="comment-list__item__content">
      <%= comment.text %>
    </div>
  </div>
<% end %>

<%= form_tag(comments_path, method: "post") do %>
  <input type="hidden" name="comment[post_id]" value="<%= obj.id %>" />
  <input type="hidden" name="comment[post_type]" value="<%= obj.class.name %>" />
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Comment..." name="comment[text]">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
    </span>
  </div>
<% end %>
