<div class="user-page">
  <div class="user-page__left">

    <div class="user-profile text-center">
      <%= gravatar_tag @user.email, :size => 125 %>
      <h2><%= @user.name %></h2>
    </div>
  </div>

  <div class="user-page__right">
    <div class="user-page__settings">
      <h3>Email settings</h3>
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= f.check_box(:disable_comment_emails) %>
          <%= f.label(:disable_comment_emails, "Disable emails when others comment on questions you are involved in") %>
        </div>

        <div>
          <%= f.check_box(:disable_unanswered_reminder_email) %>
          <%= f.label(:disable_unanswered_reminder_email, "Disable emails reminding you of unanswered questions") %>
        </div>
        
        <div class="actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
