<div class="col-md-1 <% unless offset.nil? %>col-md-offset-<%= offset %><% end %> user-meta-img">
  <%= gravatar_tag obj.user.email, :size => 45 %>
</div>
<div class="col-md-3 user-meta-text">
  Created by <%= link_to obj.user.email, user_path(obj.user) %><br>
  <%= time_ago_in_words(obj.created_at) %> ago<br>
  <%= "Views: "+obj.views.to_s %>
  <% unless obj.best_answer.nil? %>
    <br><span id="answered">Answered!</span>
  <% end %>
</div>
